// paths
$img-path 			?= "../img/"
$img-mobile-path 	?= $img-path"/mobile/"
$img-desktop-path 	?= $img-path"/desktop/"

// colors

$color-green 		?= #27ae60
$color-dark-green 	?= #00552f


$color-gray 		?= #333
$color-medium-gray 	?= #444
$color-dark-gray 	?= #666
$color-bold-gray 	?= #ccc