// paths
$img-path 			?= "../img/"
$img-mobile-path 	?= $img-path"/mobile/"
$img-desktop-path 	?= $img-path"/desktop/"

$font-cube 			?= "../fonts/cube/"

// colors

$color-title-green  ?= #00a85c
$color-green 		?= #27ae60
$color-dark-green 	?= #00552f
$color-medium-green ?= #00804b
$color-box-green    ?= #4daf7c
$color-box-font-green?= #c8f7c5


$color-gray 		?= #333
$color-medium-gray 	?= #444
$color-dark-gray 	?= #666
$color-bold-gray 	?= #ccc
$color-light-gray 	?= #f2f1ef
$color-bar-gray 	?= #6c7a89


$color-orange 		?= #e65600