.profile
	.bottom
		width auto
		right 0
	.green-box
		padding 4em 0
		span
			margin auto
			color $color-box-green
			width 2em
			height 2em
			border-radius 2em
			background-color #fff
			display block
			font-size 3em
			font-weight bold
	.user-box
		p
			font-size 1.3em
			margin-bottom 0
	.row-eq-height		
		.margin-bottom-md
				margin-bottom 4em