.payment
	.green-text
		color $color-box-green
	.green-box
		background-color $color-box-green
		h1,
		p
			color $color-box-font-green
		p
			color $color-box-font-green
			font-size 1.2em
			&.amount
				font-size 3.2em
			&.card
				font-size 1.5em
			&.payment
				font-size 2em
				font-weight bold
				margin-bottom 0
			&.id
				font-size 2em	
	.paypal
		p
			font-size 1.2em
			color $color-dark-gray
	.jumbotron
		background-color white
	h1
		color $color-green
		font-size 2.5em