.courses
	h1
		font-size 2em
	.list
		.row
			.info
				margin-bottom 4em
				p
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
			img
				margin-top 20px
			.bottom
				background-color $color-bar-gray
				padding .5em
				color white
				&.green
					background-color $color-green
			&.gray
				background-color $color-light-gray
				h2
					font-size 1.5em
				p
					font-size 1em	
