.mentor
	h1
		color $color-title-green
		font-size 2.5em
	.list
		textarea
			border-radius .5em
			border-color $color-bold-gray
			display block
			width 100%
		padding 2em 0
		p
			font-size 1.3em
			&.message
				font-size 1.1em	
			&.name
				color $color-title-green
			