.home
	

	.box-buttons
		background-color $color-title-green
		.row
			p
				color white
				font-size 1.3em
			span
				color white
				font-size 5em
	.carousel
		&.courses
			.item
				background-color $color-carrousel-home
				overflow hidden
				.btn-orange
					background-color $color-orange 
					border-color transparent
				h1,
				h2
					margin 0
				h2
					color $color-orange
					font-size 1.5em
				p
					overflow hidden
					white-space nowrap
					text-overflow ellipsis	
				.thumb
					float none
					width 10em
				img
					right 0
		.item
			background-color #eee
			img
				float right
				right -10em
				position relative
			.carousel-caption
				left 3%
				bottom auto
				padding-top 0px
				padding-bottom 0px
				text-align left
				text-shadow none
				h1
					color $color-title-green
					font-size 2em
					width 8em
					margin-bottom 19px
				p
					color $color-dark-gray
					font-size 1em
					width 20em
	.box-signup
		h2
			font-size 2.5em
			color $color-orange
		p
			font-size 1.5em
		.btn-success
			padding .5em 3em


@media (min-width $screen-md-min) and (max-width $screen-md-max),
	   (min-width $screen-lg-min)
	.home
		.carousel
			.item
				img
					right auto
				.carousel-caption
					h1,
					p
						width auto

