.schedules
	.describe-box
		h2
			color $color-box-green
		p
			font-size 1.3em
	.green-box
		padding 2em 0
		h1
			font-size 3.5em
		h1,
		p
			color white
	background-color red
	#countdown
		margin 4em 0 2em 0
		display inline-block
		.countdown-section
			display block
			float left
			margin-right 2em
			position relative
			.countdown-amount
				color $color-box-green
				width 2em
				height 2em
				border-radius 2em
				background-color #fff
				display block
				font-size 2em
			.countdown-period
				position: absolute;
				color: white;
				top: -25px;
				left: 0;